.AboutUs-container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        padding-top: 2vmax;
        padding-bottom: 2vmax;
        flex-direction: column;
}
.AboutUs-container .about-content {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 5vmax;
        margin-bottom: 2vmax;
}
.AboutUs-container .about-content .about-top {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 2vmax;
}
.AboutUs-container .about-content .about-top .a-left {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1vmax;
        flex-direction: column;
}

.AboutUs-container .about-content .about-top .a-left h6 {
        font-size: 3vmax;
        font-weight: 600;
}

.AboutUs-container .about-content .about-top .a-left p {
        font-size: 1.6vmax;
        letter-spacing: 0.3px;
}
.AboutUs-container .about-content .about-top .a-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.AboutUs-container .about-content .about-top .a-right iframe {
        width: 85%;
        height: 300px;
}
.AboutUs-container .about-content .about-btm {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 1vmax;
        border-top: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf;

}
.AboutUs-container .about-content .about-btm .tabs-about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.3vmax;
        margin-top: 3.5vmax;
}

.AboutUs-container .about-content .about-btm .tabs-about .about-tab,
.AboutUs-container .about-content .about-btm .tabs-about .journey-tab,
.AboutUs-container .about-content .about-btm .tabs-about .values-tab,
.AboutUs-container .about-content .about-btm .tabs-about .logo-story-tab,
.AboutUs-container .about-content .about-btm .tabs-about .ipr-tab,
.AboutUs-container .about-content .about-btm .tabs-about .recognition-tab {
        border: none;
        font-size: 1.3vmax;
        color: #393939;
        letter-spacing: 0.3px;
        border-radius: 50px;
        padding: 0.3vmax 1.2vmax;
}
.tabs-about button.active {
        background-color: #003266;
        color: #fff !important;
}
.AboutUs-container .about-content .about-btm .tabs-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1vmax;
        margin-top: 2vmax;
        background-color: #fff;
        padding: 1vmax;
        margin-bottom: 7vmax;

}
.journey-tab-content h5 {
        font-size: 1.3vmax;
        font-weight: 600;
        letter-spacing: 0.3px;
}

.recognition-tab-content h6,
.ipr-tab-content h6,
.logo-story-tab-content h6 {
        font-size: 1.4vmax;
        font-weight: 600;
}

/* -----------------------logo story slider------------------------------------------------- */
.logo-story-tab-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
}

.logo-story-slider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vmax;
        margin-bottom: 1vmax;
}
.carousel {
        width: 100%;
}
.carousel-item img {
        width: auto;
        max-width: 80%;
        height: 400px;
        margin: 0 auto;
        display: block;
        transition: none;
        transform: none;

}
.carousel-item {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
}
.carousel-control-prev,
.carousel-control-next {
        color: #fff !important;
        background: #000 !important;
        width: 40px !important;
        height: 40px;
        border-radius: 50px;
        padding: 0.1vmax 1vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 40% !important;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
        color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
        filter: invert(1);
}

.carousel-control-prev {
        left: -50px;
}

.carousel-control-next {
        right: -50px;
}
.carousel-item {
        padding: 10px;
}

/* ----------------------------------------------------------------------------- */
.AboutUs-container .about-content .about-btm .journey-data {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        gap: 1vmax;
        margin-top: 2vmax;
        position: relative;
}

.AboutUs-container .about-content .about-btm .journey-data .scroll-line {
        width: 1%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
}
.AboutUs-container .about-content .about-btm .journey-data .scroll-line .scroll-indicator {
        width: 20%;
        height: 30px;
        background: #393939;
        position: absolute;
        transition: top 0.3s ease;
}
.AboutUs-container .about-content .about-btm .journey-data .journey-left {
        width: 15%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1vmax;
}
.AboutUs-container .about-content .about-btm .journey-data .journey-left h6 {
        cursor: pointer;
        background-color: #003266;
        padding: 0.5vmax 1vmax;
        border-radius: 50px;
        color: #fff;
}

.AboutUs-container .about-content .about-btm .journey-data .journey-left h6.active-year {
        background-color: #393939;
        color: #bfbfbf;
}

.AboutUs-container .about-content .about-btm .journey-data .journey-right {
        width: 80%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
}

.AboutUs-container .about-content .about-btm .journey-data .journey-right .journey-scroll {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
}
.AboutUs-container .about-content .about-btm .journey-data .journey-right .j-one {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #b1b1b1;
        padding-bottom: 1vmax;
}
.AboutUs-container .about-content .about-btm .journey-data .journey-right .j-one img {
        width: 90%;
}
/* ---------------------------------------------------------------------- */
.AboutUs-container .extra-content {
        width: 70%;
        gap: 2vmax;
}
.AboutUs-container .extra-content h5 {
        font-size: 1.7vmax;
        font-weight: 600;
}
.AboutUs-container .extra-content p {
        font-size: 1.3vmax;
        font-weight: 600;
}
.AboutUs-container .extra-content small {
        font-size: 1vmax;
        letter-spacing: 0.5px;
}
.AboutUs-container .extra-content .extra-two {
        margin-top: 2.5vmax;
}
.AboutUs-container .extra-content .extra-two .two-extra {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3vmax;
        background: #fff;
        padding: 2vmax;
        margin-top: 1vmax;
}
.AboutUs-container .extra-content .extra-two .two-extra .extraLeft,
.AboutUs-container .extra-content .extra-two .two-extra .extraRight {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
}

.AboutUs-container .extra-content .extra-two .two-extra .extraLeft h6,
.AboutUs-container .extra-content .extra-two .two-extra .extraRight h6 {
        font-size: 1.5vmax;
}
.AboutUs-container .extra-content h4 {
        font-size: 1.1vmax;
        margin-top: 2vmax;
        color: #535353;
}
.AboutUs-container .extra-content .know-team-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.AboutUs-container .extra-content .know-team-btn button {
        border: none;
        background-color: #003266;
        color: #fff;
        padding: 0.7vmax 2vmax;
        border-radius: 10px;
}
/* ---------------------------slider about---------------------------- */
.AboutUs-container .slider-about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1vmax 0;
        gap: 1vmax;
        margin-top: 2vmax;
      }
      
      .AboutUs-container     .slider-container {
        width: 70%;
        overflow: hidden;
        position: relative;
      }
      .AboutUs-container     .slick-slider {
        margin: 0 auto;
      }
      .AboutUs-container    .slick-track {
        display: flex !important;
        align-items: center;
        gap: 0.5vmax !important;
        ;    
  }  
  .AboutUs-container     .slick-slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
      }
      .AboutUs-container     .extra-slide {
        width: 330px !important;
        height: 200px;
        border-radius: 20px;
        background-color: yellow;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column;
        cursor: pointer;
        border: 4px solid red;
        cursor: pointer;
        transition: transform 0.3s;
      }
      .AboutUs-container    .extra-slide-image {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .AboutUs-container    .extra-slide img {
        width: 70%;
        height: auto;
      }
      .AboutUs-container    .extra-slide a {
        margin-top: 10px;
        font-size: 1.4vmax;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        text-align: center;
      }
      .AboutUs-container  .about-slider-btns{
        display: flex;
        flex-direction: row;
        gap: 1.4vmax;
    }
    .AboutUs-container  .about-slider-btns i{
       font-size: 1.9vmax;
       margin-top: 1vmax;
       cursor: pointer;
       border: 1px solid #000;
       padding: 0.3vmax;
       border-radius: 50px;
       color: #343434;
    }
/* ------------------------------------------------------------- */
.AboutUs-container .qr-code-about {
        margin-top: 2vmax;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vmax;
}
.AboutUs-container .qr-code-about img {
        width: 20%;
}
.AboutUs-container  .qr-code-about .about-signUp{
        color: red;
        font-weight: 600;
        border-radius: 5px;
        background: none;
        padding: 0.5vmax 1.7vmax;
        border: 2px solid red;
        box-shadow: 0 2px red;
        margin-top: 1.3vmax;
}

.AboutUs-container .qr-code-about h6 {
        font-weight: 600;
        font-size: 1.5vmax;
        margin-top: 1vmax;
}
.AboutUs-container .qr-code-about h5 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 2vmax;
        gap: 1vmax;
        border-bottom: 1px solid rgb(118, 118, 118);
        margin-bottom: 2vmax;
}
.AboutUs-container .qr-code-about h5 a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.AboutUs-container .qr-code-about h5 a img {
        width: 30%;
}

@media (max-width:600px) {

        .AboutUs-container {
                width: 100%
        }

        .AboutUs-container .about-content {
                width: 95%;
                padding-top: 7vmax;
        }

        .AboutUs-container .about-content .about-top {
                width: 100%;
                height: auto;
                flex-direction: column;
        }

        .AboutUs-container .about-content .about-top .a-left {

                width: 100%;
        }

        .AboutUs-container .about-content .about-top .a-left h6 {
                font-size: 4vmax;
        }

        .AboutUs-container .about-content .about-top .a-left p {
                font-size: 2vmax;
        }

        .AboutUs-container .about-content .about-top .a-right {
                width: 100%;
        }

        .AboutUs-container .about-content .about-top .a-right iframe {
                width: 100%;
        }

        .AboutUs-container .about-content .about-btm {
                width: 98%;
                align-items: center;
        }

        .AboutUs-container .about-content .about-btm .tabs-about {
                width: 100%;
                align-items: center;
                gap: 0.5vmax;
        }

        .AboutUs-container .about-content .about-btm .tabs-about .about-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .journey-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .values-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .logo-story-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .ipr-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .recognition-tab {
                font-size: 1.2vmax;
                letter-spacing: 0px;
        }

        .tabs-about button.active {
                background-color: #003266;
                color: #fff !important;
        }
        .about-tab-content h6{
                font-size: 3vmax !important;
        } 
        .ipr-tab-content,
        .recognition-tab-content {
                width: 100%;
        }
        .ipr-tab-content h6,
        .recognition-tab-content h6 {

                font-size: 3vmax;
                text-align: center;
        }

        .ipr-tab-content p,
        .recognition-tab-content p {
                font-size: 2vmax;
                text-align: center;
        }

        .ipr-tab-content img,
        .recognition-tab-content img {
                width: 100%;
        }


        /* ---------------------------slider about---------------------------- */

        .AboutUs-container .slider-about {
                width: 100%;
                padding: 2vmax 0;
                gap: 1vmax;
                margin-top: 2vmax;
              }
              
              .AboutUs-container     .slider-container {
                width: 100%;
                overflow: hidden;
                position: relative;
              }
              .AboutUs-container    .extra-slide img {
                width: 70%;
                height: auto;
              }
              
              .AboutUs-container    .extra-slide a {
                font-size: 2vmax;
              }
              .AboutUs-container  .about-slider-btns{
                display: flex;
                flex-direction: row;
                gap: 1vmax;
            }
            .AboutUs-container  .about-slider-btns i{
               font-size: 4vmax;
            }

/* ---------------------------------------------- */
.AboutUs-container .qr-code-about {
        width: 95%;
}
.AboutUs-container .qr-code-about img {
        width: 80%;
}

.AboutUs-container  .qr-code-about .about-signUp{
        padding: 1.2vmax 2.4vmax;
}

.AboutUs-container .qr-code-about h6 {
        font-size: 2vmax;
}
.AboutUs-container .qr-code-about h5 {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
}
.AboutUs-container .qr-code-about h5 a {
        width: 40%;
}
.AboutUs-container .qr-code-about h5 a img {
        width: 30%;
}
        .AboutUs-container .extra-content {
                width: 90%;
        }

        .AboutUs-container .extra-content h5 {
                font-size: 3vmax;
        }

        .AboutUs-container .extra-content p {
                font-size: 1.5vmax;
        }

        .AboutUs-container .extra-content small {
                font-size: 1.7vmax;
        }

        .AboutUs-container .extra-content .extra-two {
                margin-top: 2.5vmax;
        }

        .AboutUs-container .extra-content .extra-two .two-extra {
                flex-direction: column;
        }

        .AboutUs-container .extra-content .extra-two .two-extra .extraLeft,
        .AboutUs-container .extra-content .extra-two .two-extra .extraRight {
                width: 100%;
        }

        .AboutUs-container .extra-content .extra-two .two-extra .extraLeft h6,
        .AboutUs-container .extra-content .extra-two .two-extra .extraRight h6 {
                font-size: 2.5vmax;
        }

        .AboutUs-container .extra-content h4 {
                font-size: 1.7vmax;
        }
}
@media (min-width:600px) and (max-width:1150px) {

        .AboutUs-container {
                width: 100%
        }

        .AboutUs-container .about-content {
                width: 95%;
                padding-top: 7vmax;
        }

        .AboutUs-container .about-content .about-top {
                width: 100%;
                height: auto;
                flex-direction: column;
        }

        .AboutUs-container .about-content .about-top .a-left {

                width: 100%;
        }

        .AboutUs-container .about-content .about-top .a-left h6 {
                font-size: 4vmax;
        }

        .AboutUs-container .about-content .about-top .a-left p {
                font-size: 2vmax;
        }

        .AboutUs-container .about-content .about-top .a-right {
                width: 100%;
        }

        .AboutUs-container .about-content .about-top .a-right iframe {
                width: 100%;
        }

        .AboutUs-container .about-content .about-btm {
                width: 98%;
                align-items: center;
        }

        .AboutUs-container .about-content .about-btm .tabs-about {
                width: 100%;
                align-items: center;
                gap: 0.5vmax;
        }

        .AboutUs-container .about-content .about-btm .tabs-about .about-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .journey-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .values-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .logo-story-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .ipr-tab,
        .AboutUs-container .about-content .about-btm .tabs-about .recognition-tab {
                font-size: 1.2vmax;
                letter-spacing: 0px;
        }

        .tabs-about button.active {
                background-color: #003266;
                color: #fff !important;
        }

        .ipr-tab-content,
        .recognition-tab-content {
                width: 100%;
        }

        .ipr-tab-content h6,
        .recognition-tab-content h6 {

                font-size: 3vmax;
                text-align: center;
        }

        .ipr-tab-content p,
        .recognition-tab-content p {
                font-size: 2vmax;
                text-align: center;
        }

        .ipr-tab-content img,
        .recognition-tab-content img {
                width: 100%;
        }
        /* ---------------------------slider about---------------------------- */

        .AboutUs-container .slider-about {
                width: 100%;
                padding: 2vmax 0;
                gap: 1vmax;
                margin-top: 2vmax;
              }

              .AboutUs-container .extra-slide {
                width: 250px !important;
                height: 200px;
            }
              
              .AboutUs-container     .slider-container {
                width: 100%;
                overflow: hidden;
                position: relative;
              }
              .AboutUs-container    .extra-slide img {
                width: 80%;
                height: auto;
              }
              
              .AboutUs-container    .extra-slide a {
                font-size: 2vmax;
              }
              .AboutUs-container  .about-slider-btns{
                display: flex;
                flex-direction: row;
                gap: 1vmax;
            }
            .AboutUs-container  .about-slider-btns i{
               font-size: 4vmax;
            }

            .AboutUs-container .qr-code-about {
                width: 95%;
        }
        .AboutUs-container .qr-code-about img {
                width: 80%;
        }
        
        .AboutUs-container  .qr-code-about .about-signUp{
                padding: 1.2vmax 2.4vmax;
        }
        
        .AboutUs-container .qr-code-about h6 {
                font-size: 2vmax;
        }
        .AboutUs-container .qr-code-about h5 {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
        }
        .AboutUs-container .qr-code-about h5 a {
                width: 20%;
        }
        .AboutUs-container .qr-code-about h5 a img {
                width: 20%;
        }
        .AboutUs-container .extra-content {
                width: 90%;
        }

        .AboutUs-container .extra-content h5 {
                font-size: 3vmax;
        }

        .AboutUs-container .extra-content p {
                font-size: 1.5vmax;
        }

        .AboutUs-container .extra-content small {
                font-size: 1.7vmax;
        }

        .AboutUs-container .extra-content .extra-two {
                margin-top: 2.5vmax;
        }

        .AboutUs-container .extra-content .extra-two .two-extra {
                flex-direction: column;
        }

        .AboutUs-container .extra-content .extra-two .two-extra .extraLeft,
        .AboutUs-container .extra-content .extra-two .two-extra .extraRight {
                width: 100%;
        }

        .AboutUs-container .extra-content .extra-two .two-extra .extraLeft h6,
        .AboutUs-container .extra-content .extra-two .two-extra .extraRight h6 {
                font-size: 2.5vmax;
        }

        .AboutUs-container .extra-content h4 {
                font-size: 1.7vmax;
        }
}
