.Achive-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

}
.Achive-main .Achive-page{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 2vmax;
          margin-top: 7vmax

}
.Achive-main .Achive-page .achive-top{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: #003266;
          color:#fff;
          /* padding: 4vmax; */
}
.Achive-main .Achive-page .achive-top h5{
          width: 85%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color:#fff;
          margin-top: 2vmax;
          font-size: 2.3vmax;
          text-transform: uppercase;
          letter-spacing: 1px;
}

.Achive-main .Achive-page .achive-top p{
          width: 85%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color:#fff;
          font-size: 1.2vmax;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: lighter;
}
.Achive-main .Achive-page .achive-btm{
          width: 85%;
          height: 350px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row-reverse;
          margin-top: 2vmax;
          gap: 2vmax;
}
.Achive-main .Achive-page .achive-btm .a-left{
       width: 50%;
       height: 350px;
       display: flex;
       align-items: center;
       justify-content: center;   
       flex-direction: column;   
}
.Achive-main .Achive-page .achive-btm .a-left h6{
      font-weight: 700;
      font-size: 2vmax;
      letter-spacing: 0.2px;
      /* text-align: center; */
   }
   .Achive-main .Achive-page .achive-btm .a-left p{
          font-size: 1.1vmax;
          letter-spacing: 0.2px;
          margin-top: 1vmax;
          
          /* text-align: center; */
       }
       .Achive-main .Achive-page .achive-btm .a-left .btuns{
         width: 100%;
         display: flex;
         align-items: flex-start;
         justify-content: flex-start;
         margin-top: 1vmax;
         gap: 1vmax;
       }
       .Achive-main .Achive-page .achive-btm .a-left .btuns button{
          padding: 0.8vmax 2vmax;
          border: none;
          font-weight: 600;
          background-color: #003266;
           color: #fff;
           border-radius: 5px;
           text-transform: uppercase;
        }
.Achive-main .Achive-page .achive-btm .a-left .btuns .cont-btn{
          color: #003266;
          font-weight: 600;
          border-radius: 5px;
          border: 2px solid #003266;
          -webkit-box-shadow: 0 2px #003f80;
          -moz-box-shadow: 0 2px #003f80;
          box-shadow: 0 2px #003f80;
}
.Achive-main .Achive-page .achive-btm .a-left .btuns .cont-btn button{
          padding: 10px 25px;
          color: #003f80;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          font-size: 0.9rem;
          text-transform: uppercase;
          background: none;
          font-weight: 600;        
}

.Achive-main .Achive-page .achive-btm .a-right{
          width: 50%;
          height: 350px;
overflow: hidden;
       display: flex;
       align-items: center;
       justify-content: center;   
       flex-direction: column;      
}
.Achive-main .Achive-page .achive-btm .a-right img{
          width: 90%;
     
}


@media (max-width:600px) {
          .Achive-main{
                    width: 100%;
          }
          .Achive-main .Achive-page .achive-top h5{
                    font-size: 3vmax;
          }
          .Achive-main .Achive-page .achive-top p{
                    font-size: 2vmax;
          }
          .Achive-main .Achive-page .achive-btm{
                    width: 95%;
          height: 500px;
                 
                    flex-direction: column-reverse;
          }
          .Achive-main .Achive-page .achive-btm .a-left{
                 width: 100%;
          }
          .Achive-main .Achive-page .achive-btm .a-left h6{
                font-size: 3vmax;
                text-align: center;
             }
             .Achive-main .Achive-page .achive-btm .a-left p{
                    font-size: 1.9vmax;
                    text-align: center;
                 }
                 .Achive-main .Achive-page .achive-btm .a-left .btuns{
                   align-items:center;
                   justify-content: center;
                 }
                 .Achive-main .Achive-page .achive-btm .a-left .btuns button{
                    padding: 1.8vmax 3vmax;
                  }
          .Achive-main .Achive-page .achive-btm .a-left .btuns .cont-btn button{
                    padding: 1.7vmax  3vmax;
          }  
          .Achive-main .Achive-page .achive-btm .a-right{
                    width: 90%;
          }
          .Achive-main .Achive-page .achive-btm .a-right img{
                    width: 90%;
               
          }       
}


@media (min-width:600px) and (max-width:1050px) {
          .Achive-main{
                    width: 100%;
          }
          .Achive-main .Achive-page .achive-top h5{
                    font-size: 3vmax;
          }
          .Achive-main .Achive-page .achive-top p{
                    font-size: 2vmax;
          }
          .Achive-main .Achive-page .achive-btm{
                    width: 95%;
          height: 500px;
                 
                    flex-direction: column-reverse;
          }
          .Achive-main .Achive-page .achive-btm .a-left{
                 width: 100%;
          }
          .Achive-main .Achive-page .achive-btm .a-left h6{
                font-size: 3vmax;
                text-align: center;
             }
             .Achive-main .Achive-page .achive-btm .a-left p{
                    font-size: 1.9vmax;
                    text-align: center;
                 }
                 .Achive-main .Achive-page .achive-btm .a-left .btuns{
                   align-items:center;
                   justify-content: center;
                 }
                 .Achive-main .Achive-page .achive-btm .a-left .btuns button{
                    padding: 1.8vmax 3vmax;
                  }
          .Achive-main .Achive-page .achive-btm .a-left .btuns .cont-btn button{
                    padding: 1.7vmax  3vmax;
          }
                .Achive-main .Achive-page .achive-btm .a-right{
                    width: 90%;
          }
          .Achive-main .Achive-page .achive-btm .a-right img{
                    width: 90%;
               
          }       
}









