.HowWeWork-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}
.HowWeWork-main .how-tp{
          width: 80%;
          margin-top: 7vmax;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
}
.HowWeWork-main .how-tp .how-left{
          width: 50%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          gap: 1vmax;
}
.HowWeWork-main .how-tp .how-left h6{
         font-size: 2.5vmax;
         font-weight: 600;
}
.HowWeWork-main .how-tp .how-left p{
          font-size: 1.3vmax;
 }
 .HowWeWork-main .how-tp .how-right{
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
}
.HowWeWork-main .how-tp .how-right iframe{
          width: 100%;
}
.HowWeWork-main .media{
    margin-top: 2vmax;
    margin-bottom: 1vmax;
    width: 50%;
    height: 100%;
}
.HowWeWork-main .media img{
    width: 100%;
    height: 100%;
}
.HowWeWork-main .how-btm{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 2vmax;
          gap: 2vmax;
          margin-bottom: 3vmax;
}
.HowWeWork-main .how-btm .work-box h6{
         font-weight: 600;
         font-size: 1.5vmax;
         letter-spacing: 0.5px;
}
.HowWeWork-main .how-btm .work-box p{
     font-size: 1.1vmax;
     color: rgb(80, 80, 80);
 }
  
 .HowWeWork-main .how-btm .work-box .last-flex{
     display: flex;
     flex-direction: column;
     margin-top: 2vmax;
 }
 .HowWeWork-main .how-btm .work-box .last-flex .span-flex{
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 2vmax;
          margin-top: 1vmax;
      }
.HowWeWork-main .how-btm .work-box a{
       text-decoration: none;
 }
 .HowWeWork-main .how-btm .work-box small{
      font-weight: 600;
      color: #000;
    }


@media (max-width:600px) {
          .HowWeWork-main{
                    width: 100%;
                    padding-top: 12vmax;
          }
          .HowWeWork-main .how-tp{
                    width: 95%;
                    flex-direction: column;
          }
          .HowWeWork-main .how-tp .how-left{
                    width: 100%;
          }
          .HowWeWork-main .how-tp .how-left h6{
                   font-size: 3.4vmax;
          }
          .HowWeWork-main .how-tp .how-left p{
                    font-size: 1.5vmax;
           }
           .HowWeWork-main .how-tp .how-right{
                    width: 100%;
          }
          .HowWeWork-main .how-tp .how-right iframe{
                    width: 100%;
          } 
          .HowWeWork-main .how-btm{
            width: 95%;
  }
  .HowWeWork-main .how-btm .work-box h6{
           font-size: 3vmax;
  }
  .HowWeWork-main .how-btm .work-box p{
       font-size: 1.8vmax;
   }
   .HowWeWork-main .how-btm .work-box .last-flex .span-flex{
            padding-left: 3vmax;
        }
  .HowWeWork-main .how-btm .work-box a{
         text-decoration: none;
   }
   .HowWeWork-main .media{
    width: 95%;
    height: auto;
}
   .HowWeWork-main .media img{
    width: 100%;
    height: 100%;
}
                
}

@media (min-width:600px) and (max-width:1150px) {
    .HowWeWork-main{
              width: 100%;
              padding-top: 10vmax;
    }
    .HowWeWork-main .how-tp{
              width: 95%;
              flex-direction: column;
    }
    .HowWeWork-main .how-tp .how-left{
              width: 100%;
    }
    .HowWeWork-main .how-tp .how-left h6{
             font-size: 4vmax;
    }
    .HowWeWork-main .how-tp .how-left p{
              font-size: 2vmax;
     }
     .HowWeWork-main .how-tp .how-right{
              width: 100%;
    }
    .HowWeWork-main .how-tp .how-right iframe{
              width: 100%;
    } 
    .HowWeWork-main .how-btm{
      width: 95%;
}
.HowWeWork-main .how-btm .work-box h6{
     font-size: 3vmax;
}
.HowWeWork-main .how-btm .work-box p{
 font-size: 2vmax;
}
.HowWeWork-main .how-btm .work-box .last-flex .span-flex{
      padding-left: 3vmax;
  }
.HowWeWork-main .how-btm .work-box a{
   text-decoration: none;
}
.HowWeWork-main .media{
    width: 95%;
    height: auto;
}

          
}
