.OurTeam-main {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .OurTeam-main .ourteam {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        
        .OurTeam-main .ourteam .team-top {
          width: 100%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dffff4;
          overflow: hidden;
        }
        
        .OurTeam-main .ourteam .team-top img {
          width: 80%;
        }
        
        .OurTeam-main .ourteam .team-btm {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          flex-direction: column;
        }
        
        .OurTeam-main .ourteam .team-btm .one {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 2vmax;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .OurTeam-main .ourteam .team-btm .one h5 {
          font-size: 2vmax;
          font-weight: 700;
          letter-spacing: 1px;
        }
        
        .OurTeam-main .ourteam .team-btm .one p {
          text-align: center;
        }
        
        .OurTeam-main .ourteam .team-btm .one .team-btn {
          color: #003266;
          font-weight: 600;
          border-radius: 5px;
          border: 2px solid #003266;
          -webkit-box-shadow: 0 2px #003f80;
          -moz-box-shadow: 0 2px #003f80;
          box-shadow: 0 2px #003f80;
        }
        
        .OurTeam-main .ourteam .team-btm .one .team-btn button {
          padding: 10px 20px;
          color: #003f80;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          font-size: 0.9rem;
          background: none;
          font-weight: 600;
        }
        
        .OurTeam-main .ourteam .team-btm .two {
          width: 80%;
          height: 400px;
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 3vmax;
          overflow: hidden;
        }
  
      
        .OurTeam-main .ourteam .team-btm .two .slick-slide {
          margin: 0 15px;
          height: 400px;

      }
      
      .OurTeam-main .ourteam .team-btm .two .team {
          width: 100%; /* Set width to 100% to fill the slick slide */
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          border-radius: 10px;
          box-shadow: 0px 1px 2px 0px #003266;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .t-img {
          width: 100%;
          height: 200px;
          background: #0000003f;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .t-img img {
          width: 80%;
          height: 100%;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .text {
          width: 100%;
          height: 150px;
          padding: 0.2vmax;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .text h6 {
          font-weight: 700;
          font-size: 1.4vmax;
          letter-spacing: 0.5px;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .text span {
          font-size: 0.8vmax;
          text-align: center;
          letter-spacing: 0.5px;
          text-transform: uppercase;
      }
      
      .OurTeam-main .ourteam .team-btm .two .team .text p {
          font-size: 1vmax;
          letter-spacing: 0.5px;
          margin-top: 0.5vmax;
      }
      .OurTeam-main .ourteam .team-btm .three {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 1vmax;
          font-family: Arial, Helvetica, sans-serif;
          margin-bottom: 2vmax;
        }
        .OurTeam-main .ourteam .team-btm .three p{
       text-align: center;
        }
         


@media (max-width:600px) {
          .OurTeam-main {
                    width: 100%;
                  }
                  .OurTeam-main .ourteam .team-top {
                    width: 100%;
                    height: 150px;
                  }
                  
                  .OurTeam-main .ourteam .team-top img {
                    width: 100%;
                    height: 150px;

                  }
                  
                  .OurTeam-main .ourteam .team-btm {
                    width: 100%;
                  }
                  
                  .OurTeam-main .ourteam .team-btm .one {
                    width: 90%;
                  }
                  
                  .OurTeam-main .ourteam .team-btm .one h5 {
                    font-size: 3vmax;
                  }
                  .OurTeam-main .ourteam .team-btm .two {
                    width: 90%;
                    height: 400px;
                  }
          
               
                
                .OurTeam-main .ourteam .team-btm .two .team .text h6 {
                    font-size: 3vmax;
                    margin-top: 2vmax;
                }
                
                .OurTeam-main .ourteam .team-btm .two .team .text span {
                    font-size: 1.2vmax;
                
                }
                
                .OurTeam-main .ourteam .team-btm .two .team .text p {
                    font-size: 2vmax;
                }
                .OurTeam-main .ourteam .team-btm .three {
                    width: 90%;
                  }
                
                   
          
          
                
}