.Free-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
}
.Free-main h6{
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 1.3vmax;
        cursor: pointer;
}