.Home-main {
  width: 100%;
}
.Home-main .Home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vmax;
}
/* ----------------------------------------------- */
.Home {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4vmax;
}
.Home .left {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8vmax;
  gap: 0.5vmax;
  font-family: Arial, Helvetica, sans-serif;
}
.Home .left span {
  font-weight: 600;
  font-size: 1.1vmax;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1vmax;
}
.Home .left small {
  color: red;
}
.Home .left h6 {
  font-weight: 700;
  font-size: 2.2vmax;
  color: #000;
  letter-spacing: 0.2px;
}
.Home .left h5 {
  font-size: 1.1vmax;
}
.Home .left .home-btns {
  display: flex;
  margin-top: 1.3vmax;
  gap: 1.1vmax;
}
.Home .left .home-btns .join-free {
  background-color: #003266;
  border: 2px solid #003266;
  box-shadow: 0 2px #003f80;
  font-weight: 600;
  border-radius: 5px;
}
.Home .left .home-btns .join-free button {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #fff;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Home .left .home-btns .moree {
  color: #003266;
  border: 2px solid #003266;
  box-shadow: 0 2px #003f80;
  border-radius: 5px;
  padding: 0.4vmax 1vmax;
  font-size: 0.9rem;
   background:none;
}
.Home .left .home-btns .moree:hover {
  background-color: #003f80;
  color: #fff;
  border-color: #003f80;
}
.Home .right {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 3vmax;
}
.Home .right iframe,
.swiper-image-container img,
.video-container iframe {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.home-arrows {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
.home-arrows svg {
  font-size: 2rem;
  color: #003266;
  cursor: pointer;
}
.swiper-image-container,
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------------- */
.home-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-two h5 {
  font-size: 2vmax;
  font-weight: 700;
  color: #003f80;
  letter-spacing: 1px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.home-two p {
  width: 80%;
  display: flex;
  justify-content: center;
}
.home-two .home-two-btm {
  width: 90%;
  height: 550px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-top: 1vmax;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1vmax;
  padding-top: 1vmax;
}
.home-two .home2-left {
  width: 45%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.home-two .home2-left img {
  width: 90%;
  height: 500px;

}
.home-two .home2-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  align-items: center;
}
.home-two .linee {
  width: 80%;
  padding: 0.2vmax 1vmax ;
  display: flex;
  gap: 1vmax;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px #001a285c;
  cursor: pointer;
}
.linee.active {
  background-color: #003266;
  color: #fff;
}
.linee .linee-right h6 {
  font-size: 1.1vmax;
  font-weight: 600;
}
.linee .linee-right p {
  font-size: 0.8vmax;
  letter-spacing: 0.2px;
}
/* ----------------------------------------------- */
.home-three {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vmax;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  margin-top: 2vmax;
}
.home-three h5 {
  font-size: 1.8vmax;
  margin-top: 3vmax;
  font-weight: 700;
  color: #003266;
}
.h3-tbm {
  width: 85%;
  position: relative;
  margin-top: 2vmax;
  overflow: hidden;
}
.h3-top {
  display: flex;
  white-space: nowrap;
  gap: 1vmax;
  animation: scroll 35s linear infinite;
}
.line {
  border: 1px solid #868686df;
  padding: 1vmax 2.5vmax;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.line img {
  height: 70px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width:600px) {
  .Home {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 10vmax;
  }
  .Home .left,
  .Home .right {
    width: 95%;
    height: 300px;
    padding: 0;
  gap: 0.1vmax;

  }
  .Home .left h6 {
    font-size: 2.8vmax;
    overflow: hidden;
  }
  .Home .left h5{
    font-size: 1.7vmax !important;
    letter-spacing: 0.2px;
  }
 
  .Home .right iframe {
    width: 100%;
    height: 300px;
  }
  .home-arrows {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
  }

 
/* ----------------------------------------------- */

.home-two {
  width: 100%;
}
.home-two h5 {
  font-size: 3vmax;
  width: 95%;
}
.home-two p {
  width: 95%;
  text-align: center;
}
.home-two .home-two-btm {
  width: 95%;
  height: auto;
  flex-direction: column;
}

.home-two .home2-left {
  width: 100%;
}

.home-two .home2-left img {
  width: 100%;
  height: auto;
}

.home-two .home2-right {
  width: 100%;
  gap: 1.5vmax;
  padding-top: 0vmax;
}

.home-two .linee {
  width: 100%;
  padding: 1.5vmax;
}
.linee .linee-right h6 {
  font-size:2.5vmax;
  text-align: center;
}
.linee .linee-right p {
  font-size: 1.4vmax;
}
/* ----------------------------------------------- */

  .home-three {
    width: 95%;
    text-align: center;
  }
  .home-three h5 {
    font-size: 3vmax;
  }
}

@media (min-width:600px) and (max-width:1150px) {
  .Home {
    width: 100%;
    height: 800px;
    flex-direction: column;
    margin-top: 8vmax;
  }
  .Home .left,
  .Home .right {
    width: 95%;
    height: 400px;
    padding: 0;
  }
  .Home .left h6 {
    font-size: 4vmax;
  }
  .Home .left p {
    font-size: 2vmax;
  }
  .Home .right {
    margin-bottom: 5vmax;
    padding-top: 7vmax;
  }
  .Home .right iframe {
    width: 100%;
    height: 400px;
  }
  .home-arrows {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
  }

  .home-two {
    width: 100%;
  }
  .home-two h5 {
    font-size: 3vmax;
    width: 95%;
  }
  .home-two p {
    width: 95%;
    text-align: center;
  }
  .home-two .home-two-btm {
    width: 95%;
    flex-direction: column;
    height: auto;
  }
  
  .home-two .home2-left {
    width: 100%;
  }
  
  .home-two .home2-left img {
    width: 100%;
    height: auto;
  }
  
  .home-two .home2-right {
    width: 100%;
    gap: 1.5vmax;
    padding-top: 0vmax;
  }
  
  .home-two .linee {
    width: 100%;
    padding: 2vmax;
  }
  .linee .linee-right h6 {
    font-size:2.5vmax;
    text-align: center;
  }
  .linee .linee-right p {
    font-size: 1.7vmax;
  }

  .home-three {
    width: 95%;
    text-align: center;
  }
  .home-three h5 {
    font-size: 3vmax;
  }
}
