.HomeBroach-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 4vmax;
          margin-top: 2vmax;
}
.HomeBroach-main .homebroch{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}
.HomeBroach-main .homebroch h5{
         font-size: 2vmax;
        color: #003f80;
        font-weight: 700;
}
.HomeBroach-main .homebroch p{
       text-align: center;
font-size: 1.1vmax;
margin-bottom: 2vmax;
}