.Home-main{
          width: 100%;
}
.Home-main .Home-page{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 5vmax;
}
/* ------------------------------------------------------------------------------------------------------ */

.Home{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 0.4vmax;
}
.Home .left{
  width:50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 8vmax;
  gap: 0.5vmax;
  font-family: Arial, Helvetica, sans-serif;
}
.Home .left span{
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2vmax;
  font-size: 1.1vmax;
  text-transform: uppercase;
}

/* Define the rotation animation */
@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-80%);
    opacity: 0;
  }
}

.text.slide-up {
  animation: slideUp 0.4s forwards; 
}


.Home .left small{
color: red;
}
.Home .left h6{
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 2.2vmax;
  color: #000;
}
.Home .left p{
  font-size: 1.1vmax
}
.Home .left .home-btns{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.3vmax;
  gap: 1.2vmax;
}

.Home .left .home-btns .join-free{
  background-color: #003266;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #003266;
  -webkit-box-shadow: 0 2px #003f80;
  -moz-box-shadow: 0 2px #003f80;
  box-shadow: 0 2px #003f80;
}
.Home .left .home-btns .join-free button{
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
  background: none;
}
.Home .left .home-btns .more{
  color: #003266;
  border-radius: 5px;
  border: 2px solid #003266;
  -webkit-box-shadow: 0 2px #003f80;
  -moz-box-shadow: 0 2px #003f80;
  box-shadow: 0 2px #003f80;
}
.Home .left .home-btns button{
  padding: 10px 20px;
  color: #003f80;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
  background: none;
}
.Home .right {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3vmax;
  position: relative; /* Added this */
}

.home-arrows {
  position: absolute;
  bottom: -10px; /* Adjust the value as per your design */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10; /* Ensures arrows are on top */
}

.home-arrows svg {
  font-size: 2rem;
  color: #003266;
  cursor: pointer;
}

.Home .right iframe{
  width: 100%;
  height: 400px;
}
.swiper-image-container {
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container {
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container iframe {
  width: 100%; 
  height: 350px;

    object-fit: contain;
  }
.swiper-image-container img {
width: 90%; 
  object-fit: contain;
}


/* ----------------------------------------------- */

.home-two{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-two h5{
  font-size: 2vmax;
  font-weight: 700;
   color:#003f80;
 letter-spacing: 1px;
 width: 100%;
 align-items: center;
 display: flex;
 width: 80%;
 justify-content: center;
}
.home-two p{
 width: 100%;
 align-items:center;
 justify-content: center;
 display: flex;
 width: 80%;
}
.home-two .home-two-btm{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vmax;
  flex-direction: row-reverse;
  gap: 1vmax;
}
.home-two .home-two-btm  .home2-left{
  width: 45%;
  display: flex;
  align-items:center;
  justify-content:center;
}
.home-two .home-two-btm  .home2-left img{
  width: 70%;
}
.home-two .home-two-btm  .home2-right{
  width: 55%;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  gap: 1vmax;
  padding-top: 2vmax;
}
.home-two .home-two-btm  .home2-right .linee{
 width: 80% ;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1vmax;
 padding-top: 0.2vmax;
 border-radius: 5px;
 padding-bottom: 0.2vmax;
 box-shadow: 0px 1px 2px 1px #001a285c;
 cursor: pointer;
}

.home-two .home-two-btm  .home2-right .linee .linee-left {
  /* width: 18%;
 height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: none;

 }
 .linee.active {
  background-color: #003266;
  border-color: #003266;
  color: #fff;
}
.home-two .home-two-btm  .home2-right .linee .linee-left .icon-line{
  /* width: 60%;
 height: 60px;
 border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003266;
  color: #fff; */
  display: none;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-left i{
  /* font-size: 3vmax; */
  display: none;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right{
  width: 90%;
 height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.9vmax;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right h6{
   font-size: 1.1vmax;
   font-weight: 600;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right p{
  font-size: 0.8vmax;
  letter-spacing: 0.2px;
}
/* ----------------------------------------------------------------------------- */
.home-three {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4vmax;
  overflow: hidden;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  margin-top: 2vmax;
}
.home-three h5 {
  font-size: 1.8vmax;
  margin-top: 3vmax;
  font-weight: 700;
  color: #003266;
}
.h3-tbm {
  width: 85%;
  overflow: hidden;
  position: relative;
  margin-top: 2vmax;
}
.h3-top {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
  gap: 1vmax;
  animation: scroll 35s linear infinite; /* Adjust duration for smooth scroll */
}
.line img {
  height: 70px;
}
.line {
  border: 1px solid #868686df;
  padding: 1vmax 2.5vmax;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}
@media (max-width:600px) {
  .Home{
    width: 100%;
    height: 800px;
    flex-direction: column;
    margin-top: 7vmax;
  }
  .Home .left{
    width:95%;
    height: 400px;
    padding-left: 0vmax;
  }
  .Home .left h6{
    font-size: 2vmax
  }
  .Home .left p{
    font-size: 2vmax
  }
  .Home .right{
    width: 100%;
    height: 400px;
    padding-right: 0vmax;
    margin-bottom: 2vmax;
  }
  .Home .right iframe{
    width: 100%;
    height: 400px;
  }
  


/* ----------------------------------------------- */

.home-two{
  width: 100%;
}
.home-two h5{
  font-size: 4vmax;
 width: 95%;
}
.home-two p{
 width: 95%;
text-align: center;
font-size: 2vmax;
}
.home-two .home-two-btm{
  width: 95%;
  flex-direction: column;
}
.home-two .home-two-btm  .home2-left{
  width: 100%;
  align-items: center;
  justify-content:center;
}
.home-two .home-two-btm  .home2-left img{
  width: 100%;
}
.home-two .home-two-btm  .home2-right{
  width: 100%;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
.home-two .home-two-btm  .home2-right .linee{
 width: 100% ;
 height: 120px;

}
.home-two .home-two-btm  .home2-right .linee .linee-left {
  width: 30%;
 height: 100px;

 }
.home-two .home-two-btm  .home2-right .linee .linee-left .icon-line{
  width: 80%;
 height: 80px;
 border-radius: 50px;

 }
 .home-two .home-two-btm  .home2-right .linee .linee-left i{
  font-size: 6vmax;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right{
  width: 60%;
 height: 100px;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right h6{
   font-size: 2vmax;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right p{
  font-size: 1.2vmax;
 
}
/* ----------------------------------------------------------------------------- */
.home-three {
  width: 95%;
}
.home-three h5 {
  font-size: 3vmax;
 text-align: center;
}
.h3-tbm {
  width: 100%;
}
}
@media (min-width:600px) and (max-width:1150px) {
  .Home{
    width: 100%;
    height: 800px;
    flex-direction: column;
    margin-top: 8vmax;
  }
  .Home .left{
    width:95%;
    height: 400px;
    padding-left: 0vmax;
  }
  .Home .left h6{
    font-size: 4vmax
  }
  .Home .left p{
    font-size: 2vmax
  }
  .Home .right{
    width: 100%;
    height: 400px;
    padding-right: 0vmax;
    margin-bottom: 5vmax;
    padding-top: 7vmax;
  }
  .Home .right iframe{
    width: 100%;
    height: 400px;
  }
  


/* ----------------------------------------------- */

.home-two{
  width: 100%;
}
.home-two h5{
  font-size: 4vmax;
 width: 95%;
}
.home-two p{
 width: 95%;
text-align: center;
font-size: 2vmax;
}
.home-two .home-two-btm{
  width: 95%;
  flex-direction: column;
}
.home-two .home-two-btm  .home2-left{
  width: 100%;
  align-items: center;
  justify-content:center;
}
.home-two .home-two-btm  .home2-left img{
  width: 100%;
}
.home-two .home-two-btm  .home2-right{
  width: 100%;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
.home-two .home-two-btm  .home2-right .linee{
 width: 100% ;
 height: 200px;

}
.home-two .home-two-btm  .home2-right .linee .linee-left {
  width: 30%;
 height: 100px;
 }
.home-two .home-two-btm  .home2-right .linee .linee-left .icon-line{
  width: 50%;
 height: 100px;
 border-radius: 50px;

 }
 .home-two .home-two-btm  .home2-right .linee .linee-left i{
  font-size: 4vmax;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right{
  width: 60%;
 height: 100px;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right h6{
   font-size: 2.4vmax;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .home-two .home-two-btm  .home2-right .linee .linee-right p{
  font-size: 1.5vmax;
 
}
}
