.TalspoHere-main {
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    background-image: url("/assets/images/MapYellow.png");
    color: #fff;
    padding: 1vmax;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 3vmax; */
    z-index: 1; /* Ensures content remains above the overlay */
    overflow: hidden;
}
.talspo-p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.talspo-p p{
    width: 90%;
}
.talspo-here-last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vmax;
    margin-bottom: 3vmax;
    flex-direction: column;
}
.talspo-here-last h6{
   color: red;
   font-size: 1.8vmax;

}
.talspo-here-last button{
   border: none;
   background-color: #033f80;
   color: #fff;
  border-radius: 10px;
  padding: 0.5vmax 2vmax;
  margin-top: 1vmax;
 }

.TalspoHere-main::before {
    content: ""; /* Necessary to create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63); /* Adjust the opacity for desired darkness */
    z-index: -1; /* Places the overlay behind the content */
}


.TalspoHere-main .Talspo-page {
    width: 70%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.TalspoHere-main .Talspo-page .talspo-text {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TalspoHere-main .Talspo-page .talspo-text h5 {
    font-size: 2.7vmax;
    font-weight: 600;
}

.TalspoHere-main .Talspo-page .talspo-text h6 {
    font-size: 1.3vmax;
    margin-top: 1vmax;
    letter-spacing: 1px;
}

.TalspoHere-main .Talspo-page .talspo-text .talspo-search {
    position: relative;
    width: 100%;
    border-radius: 50px;
    margin-top: 2vmax;
}

.TalspoHere-main .Talspo-page .talspo-text .talspo-search .search-input {
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 0.5vmax 3vmax 0.5vmax 1vmax;
}


.search {
    position: absolute;
    right: 1vmax;
    top: 15%;
    width: 1.5vmax;
    height: 1.8vmax;
    animation: rotateHereY 1.5s infinite linear;
}

@keyframes rotateHereY {
    from {
              transform: rotateY(0deg);
    }

    to {
              transform: rotateY(360deg);
    }
}

.TalspoHere-main .Talspo-page .talspo-text .talspo-search input {
    width: 100%;
    border-radius: 50px;
    outline: none;
    padding: 0.5vmax 1vmax;

}

.TalspoHere-main .Talspo-page .talspo-text p {
    margin-top: 1vmax;
    font-size: 1.2vmax;
    font-weight: lighter;
    letter-spacing: 0.2px;
}

.TalspoHere-main .Talspo-page .talspo-text .map4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TalspoHere-main .Talspo-page .talspo-text .map4 button {
    padding: 0.7vmax 3.5vmax;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 2px 1px #001a285c;
}

.TalspoHere-main .Talspo-page .talspo-text .map4 button a {
    text-decoration: none;
    font-size: 0.8vmax;
    color: #000;
    font-weight: 600;

}

@media (max-width:600px) {
    .TalspoHere-main {
        width: 100%;
        height: auto;
    }
    .talspo-p {
        width: 95%;
        margin-top: 10vmax;
        letter-spacing: 0.3px;
        text-align: center;
    }
    .TalspoHere-main .Talspo-page {
        width: 100%;
        height: auto;
    }
    .TalspoHere-main .Talspo-page .talspo-text {
        width: 100%;
    }
    .TalspoHere-main .Talspo-page .talspo-text h5 {
        font-size: 4vmax;
    }
    .TalspoHere-main .Talspo-page .talspo-text p {
        font-size: 2vmax;
    }
    .search {
        width: 2.5vmax;
        height: 3vmax;
    }

    .TalspoHere-main .Talspo-page .talspo-text .map4 {
        flex-direction: column;
        gap: 1vmax;
    }
    
    .TalspoHere-main .Talspo-page .talspo-text .map4 button {
        padding: 1.3vmax 3.5vmax;
        flex-direction: column;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .TalspoHere-main .Talspo-page .talspo-text .map4 button a {
        font-size: 1.9vmax;
    
    }
}
@media (min-width:600px) and (max-width:1050px){
    .TalspoHere-main {
        width: 100%;
        height: auto;
    }
    .talspo-p {
        width: 95%;
        margin-top: 7vmax;
        letter-spacing: 0.3px;
        text-align: center;
    }
    .talspo-p p{
      font-size: 2.4vmax;
    }
    .TalspoHere-main .Talspo-page {
        width: 100%;
        height: auto;
    }
    .TalspoHere-main .Talspo-page .talspo-text {
        width: 100%;
    }
    .TalspoHere-main .Talspo-page .talspo-text h5 {
        font-size: 3vmax;
    }
    .TalspoHere-main .Talspo-page .talspo-text p {
        font-size: 3vmax;
    }
    .search {
        width: 5vmax;
        height: 5vmax;
    }
   
    .TalspoHere-main .Talspo-page .talspo-text .map4 button {
        padding: 1.3vmax 3vmax;
        flex-direction: column;
        gap: 1vmax;
    }
    
    .TalspoHere-main .Talspo-page .talspo-text .map4 button a {
        font-size: 1.8vmax;
    
    }
    .TalspoHere-main .Talspo-page .talspo-text .talspo-search .search-input {
        padding: 2.1vmax 1vmax;
    }
    
}