.Whowe-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------------------------------------------------------------- */
.filter-icon {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #555;
}


.error-text {
  color: red;
  font-size: 16px; /* You can adjust this as needed */
  margin-top: 5px;
  display: block;
  padding: 5px;
  position: relative; /* Change from absolute to relative */
  z-index: 1; /* You can adjust this if necessary */
}

 .modal-overlay-slide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(237, 236, 236, 0.906);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

 .modal-overlay-slide .modal-content {
    background: white;
    box-shadow: 0px 1px 2px 1px #001a285c;
    border-radius: 8px;
    width: 45%;
    padding: 2vmax;
    margin-top: 6.5vmax;
    overflow-y: auto;
    max-height: 80vh; 
        scrollbar-width: none;
    -ms-overflow-style: none;
}
 .modal-overlay-slide .modal-content::-webkit-scrollbar {
    display: none;
}
   .modal-overlay-slide .modal-content .modal-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vmax;
    flex-direction: row;
  }
   .modal-overlay-slide .modal-content h5 {
    font-size: 1.5vmax;
    font-weight: 700;
    color: #003266;
  }
   .modal-overlay-slide .modal-content i {
    margin-bottom: 1vmax;
  }
   .modal-overlay-slide .modal-content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1vmax;
  }
  
   .modal-overlay-slide .modal-content .e-ipt {
    width: 100%;
    margin-bottom:1vmax;
    position: relative;
  }
  
   .modal-overlay-slide .modal-content .e-ipt input {
    width: 100%;
    padding: 0.5vmax 1.2vmax;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1.1vmax;
    transition: border-color 0.3s ease;
  }
  
   .modal-overlay-slide .modal-content .e-ipt input:focus {
    border-color: #003266;
  }
  
   .modal-overlay-slide .modal-content .e-ipt-checkbox {
    margin-bottom: 0.5vmax;
  }
  
   .modal-overlay-slide .modal-content .e-ipt-checkbox label {
    font-size: 1.1vmax;
    margin-right: 1vmax;
  }
  
   .modal-overlay-slide .modal-content select,
   .modal-overlay-slide .modal-content .country-code-wrapper input {
    width: calc(100% - 4vmax);
    padding: 0.7vmax 1.2vmax;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.1vmax;
    margin-bottom: 0vmax;
  }
  
   .modal-overlay-slide .modal-content select:focus,
   .modal-overlay-slide .modal-content .country-code-wrapper input:focus {
    border-color: #003266;
  }
  
   .modal-overlay-slide .modal-content button {
    padding: 0.6vmax 2vmax;
    background-color: #003266;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2vmax;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
   .modal-overlay-slide .modal-content button:hover {
    background-color: #001a28;
  }

  
   .modal-overlay-slide .modal-content .e-ipt-checkbox h6 {
    font-size: 1.1vmax;
    font-weight: 600;
    margin-bottom: 0.5vmax;
  }
  
   .modal-overlay-slide .modal-content .e-ipt-checkbox input {
    margin-right: 0.5vmax;
  }
  
  .country-code-wrapper {
    display: flex;
    align-items: center;
  }
  
  .country-code-wrapper select {
    margin-right: 1vmax;
  }
  
   .modal-overlay-slide .modal-content .e-ipt-checkbox label {
    display: block;
    margin-bottom: 0.5vmax;
  }
   .modal-overlay-slide .modal-content .upload-resume {
    position: relative;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1vmax;
    cursor: pointer;
  }
  
   .modal-overlay-slide .modal-content .upload-resume input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
   .modal-overlay-slide .modal-content .upload-resume label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7vmax 0.5vmax;
    background-color: #003266;
    color: #fff;
    border-radius: 8px;
    width: 30%;
    font-size: 1.1vmax;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
   .modal-overlay-slide .modal-content .upload-resume label:hover {
    background-color: #001a28;
  }
  
 
         
/* --------------------------------------------------------------------- */
.who-page {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vmax;
}

.who-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.who-top h5 {
    font-size: 1.9vmax;
    font-weight: 700;
    letter-spacing: 1px;
}

.who-top p {
    font-size: 1.2vmax;
    width: 70%;
}

.know-btn {
    color: #003266;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #003266;
    box-shadow: 0 2px #003f80;
    margin-top: 0.5vmax;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
}

.who-btm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3vmax;
}

.who-btm h6 {
    font-size: 1.8vmax;
    text-transform: capitalize;
    margin-left: 1vmax;
    color: #003266;
    font-weight: 700
}

.who-btm .search-bar-skill-responsive{
  display: none;
}
.who-btm .search-bar-skill {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  gap: 1vmax;
  padding: 1vmax;
  border-radius: 5px;
  margin-bottom: 0.5vmax;
  margin-top: 0.5vmax;
}

.who-btm .search-bar-skill .skill-ipt {
  width: 100%;
  position: relative;
}

.who-btm .search-bar-skill .skill-ipt input {
  width: 100%;
  padding: 0.5vmax 1vmax;
  padding-right: 2.5vmax; /* Space for icon */
  outline: none;
  border: 1px solid #848484;
  border-radius: 5px;
}

.who-btm .search-bar-skill .skill-ipt .input-icon {
  position: absolute;
  right: 10px;
  top: 20%;
  transform: translateY(-50%);
  width: 1.5vmax; /* Adjust size */
  height: auto;
  animation: skill 1.5s infinite linear;
}
@keyframes skill {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(180deg);
  }
}

.who-btm .search-bar-skill .map-btn,
.who-btm .search-bar-skill .skill-btn,
.who-btm .search-bar-skill .sort-dropdown {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.who-btm .search-bar-skill .map-btn button,
.who-btm .search-bar-skill .skill-btn button{
  width: 100%;
  background: #003266;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5vmax 1vmax;
}

.who-btm .search-bar-skill .sort-dropdown select {
  font-size: 1vmax;
  padding: 0.6vmax 1vmax;
  border-radius: 5px;
  outline: none;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 222222;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Highlight suggestion on hover */
.suggestions-list li:hover {
  background-color: #f0f0f0;
}

/* Style for the sort dropdown */
.sort-dropdown select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.who-slide {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1vmax;
    gap: 1vmax;
}

.who-slide .home-map{
   width: 35%;
   height: 50px;
}
.who-slide .home-map iframe{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.home-map {
  position: relative;
}

.map-arrow-icon {
  position: absolute;
  top: 0px; /* Position above the map */
  left: 20%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: #003266; /* Icon color */
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-arrow-icon h6{
  font-size: 1vmax;
  padding: 0.6vmax 1.3vmax;

}
.map-arrow-icon h6 i{
  font-size: 1vmax;
}
.map-arrow-icon:hover {
  transform: translateX(-50%) scale(1.1); /* Enlarge slightly on hover */
}

/* Overlay styles */

/* In Test.css */
.map-overlay-box {
  position: fixed; /* Fix the full map to the screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full screen map */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vmax;
}

.map-overlay-content-box {
  position: relative;
  background-color: white;
  /* padding: 20px; */
  border-radius: 8px;
  max-width: 90%;
  /* max-height: 90%; */
  width: 100%; /* Adjust map size if needed */
}

.map-overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}


.home-map {
  position: relative;
}

.map-arrow-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  z-index: 10;
}


.toggle-map-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  z-index: 10; /* Ensures it appears above the map */
}



.map-overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  z-index: 10;
}



/* Style for the iframe */
.map-overlay iframe {
  border-radius: 5px;
  width: 100%;
  height: 400px;
}

.slider-container {
    text-align: center;
    width: 65%;
    /* margin: 0px 10px; */
    /* padding-top: 1vmax; */
    padding-bottom: 1vmax;
    margin-bottom: 2vmax !important;
}

.slick-slide .w-box {
    padding: 0px;
    /* box-shadow: 0px 1px 2px 0px #929292; */
    border: 0.2px solid #cfcfcf;
    height: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 5px;
    padding-bottom: 1vmax;
    position: relative;
}

.slick-slide .w-box img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.verified-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  font-size: 24px; /* Adjust the font size of the icon */
  color: white; /* Set the color of the icon to white */
}

.slick-slide .w-box .text-panel{
    width: 95%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
}

.slick-slide .w-box .text-panel h5 {
    margin-top: 1vmax;
    font-weight: 700;
    font-size: 1.3vmax;
}

.slick-slide .w-box .text-panel p {
    font-size: 0.8vmax;
    width: 100%;
    text-align: start;
}
.slick-slide .w-box .text-panel .ss{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.slick-slide .w-box .text-panel .ss small{
   letter-spacing: 1px;
}
.slick-slide .w-box span{
    font-size: 1vmax;
    margin-top: 0.1vmax;
    letter-spacing: 1px;
    /* font-weight: 600; */

}

.slick-slide .w-box .text-panel .hh{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  letter-spacing: 1px;
}


  .custom-select {
    font-size: 12px; 
    padding: 0.5vmax 0.3vmax;  
    letter-spacing: 1px;  
  }

.slick-slide .w-box .text-panel  .get {
   width: 100%;
   margin-top:1vmax;
   /* padding: 0.5vmax 1vmax; */
   background-color: green; 
   color: #fff; 
   padding: 0.5vmax 1vmax;
   border: none;
   border-radius: 5px;
}

@media (max-width:600px) {
    
    .Whowe-main {
        width: 100%;
        padding-bottom: 60vmax;
        border-bottom: 1px solid #000;
        overflow: hidden;
    }
    .who-page {
        width: 95%;
    }
  .who-top h5 {
        font-size: 3vmax;
    }
   .who-top p {
        font-size: 2vmax;
        width: 95%;
    }
    .who-btm {
        width: 100%;
    }
    .who-btm h6 {
        font-size: 3vmax;
    } 
   .modal-overlay-slide    .modal-content {
    width: 90%;
  }
   .modal-overlay-slide    .modal-content .modal-close {
 font-size: 3vmax;
  }
   .modal-overlay-slide    .modal-content  h5{
   font-size: 2vmax;
     }
     .modal-overlay-slide    .modal-content  form .e-ipt button {
        padding: 1.5vmax 1vmax;
        }            
   

.who-btm .search-bar-skill{
  display: none;
}

.who-btm .search-bar-skill-responsive{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
  margin-top: 1vmax;

}

.who-btm .search-bar-skill-responsive .skill-ipt {
  width: 100%;
  position: relative;
}

.who-btm .search-bar-skill-responsive .skill-ipt input {
  width: 100%;
  padding: 1.3vmax 1vmax;
  padding-right: 2.5vmax;
  outline: none;
  border: 1px solid #848484;
  border-radius: 5px;
}

.who-btm .search-bar-skill-responsive .skill-ipt .input-icon {
  position: absolute;
  right: 10px;
  top: 20%;
  transform: translateY(-50%);
  width: 3vmax; /* Adjust size */
  height: auto;
  animation: skill 1.5s infinite linear;
}
@keyframes skill {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(180deg);
  }
}

.who-btm .search-bar-skill-responsive .map-btn,
.who-btm .search-bar-skill-responsive .skill-btn,
.who-btm .search-bar-skill-responsive .sort-dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.who-btm .search-bar-skill-responsive .map-btn button,
.who-btm .search-bar-skill-responsive .skill-btn button{
  width: 100%;
  background: #003266;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.4vmax 1vmax;
}

.who-btm .search-bar-skill-responsive .sort-dropdown select {
  font-size: 2vmax;
  padding: 1.5vmax 1vmax;
  width: 100%;
  border-radius: 5px;
}

.who-btm .who-slide{
  display: flex;
  flex-direction: column;
}
.who-slide .home-map{
  width: 100%;
  /* display: none; */
}
.slider-container{
  width: 100%;
}
.slick-slide .w-box .text-panel{
    width: 95%;
    height: 250px;
}

.slick-slide .w-box .text-panel h5 {
    font-size: 3vmax;
}

.slick-slide .w-box .text-panel p {
    font-size: 2vmax;
}

.slick-slide .w-box span{
    font-size: 2vmax;

}
.slick-slide .w-box .text-panel  .get {
  width: 100%;
  margin-top: 2vmax;
  background-color: #003f80; 
  padding: 1.6vmax 1vmax;
}

}

@media (min-width:600px) and (max-width:1150px) {
    
  .Whowe-main {
      width: 100%;
  }
  .who-page {
      width: 95%;
  }
.who-top h5 {
      font-size: 3vmax;
  }
 .who-top p {
      font-size: 2vmax;
      width: 95%;
  }
  .who-btm {
      width: 100%;
  }
  .who-btm h6 {
      font-size: 3vmax;
  } 
  .who-btm span {
    font-size: 2vmax;
} 
 .modal-overlay-slide    .modal-content {
  width: 90%;
}
 .modal-overlay-slide    .modal-content .modal-close {
font-size: 3vmax;
}
 .modal-overlay-slide    .modal-content  h5{
 font-size: 2vmax;
   }
 .modal-overlay-slide    .modal-content  form .e-ipt button {
 padding: 1.5vmax 1vmax;
 }            
.who-btm .search-bar-skill{
display: none;
}
.who-btm .search-bar-skill-responsive{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
margin-top: 1vmax;
}
.who-btm .search-bar-skill-responsive .skill-ipt {
width: 100%;
position: relative;
}
.who-btm .search-bar-skill-responsive .skill-ipt input {
width: 100%;
padding: 1.3vmax 1vmax;
padding-right: 2.5vmax;
outline: none;
border: 1px solid #848484;
font-size: 2.5vmax;
border-radius: 5px;
}
.who-btm .search-bar-skill-responsive .skill-ipt .input-icon {
position: absolute;
right: 10px;
top: 20%;
transform: translateY(-50%);
width: 3vmax; /* Adjust size */
height: auto;
animation: skill 1.5s infinite linear;
}
@keyframes skill {
from {
    transform: rotateY(0deg);
}
to {
    transform: rotateY(180deg);
}
}

.who-btm .search-bar-skill-responsive .map-btn,
.who-btm .search-bar-skill-responsive .skill-btn,
.who-btm .search-bar-skill-responsive .sort-dropdown {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.who-btm .search-bar-skill-responsive .map-btn button,
.who-btm .search-bar-skill-responsive .skill-btn button{
width: 100%;
background: #003266;
color: #fff;
border: none;
border-radius: 5px;
padding: 1.4vmax 1vmax;
font-size: 2.4vmax;
}

.who-btm .search-bar-skill-responsive .sort-dropdown select {
font-size: 2.5vmax;
padding: 1.5vmax 1vmax;
width: 100%;
border-radius: 5px;
}

.who-btm .who-slide{
display: flex;
flex-direction: column;
}
.who-slide .home-map{
width: 100%;
}
.slider-container{
width: 100%;
}

.slick-slide .w-box {
  height: auto;
}

.slick-slide .w-box img {
  width: 100%;
  height: 550px;
 
}

.slick-slide .w-box .text-panel{
  width: 95%;
  height: auto;
 justify-content: space-between;
}

.slick-slide .w-box .text-panel h5 {
  font-size: 3.5vmax;
  width: 100%;
  text-align: start;
}

.slick-slide .w-box .text-panel p {
  font-size: 2.2vmax;
}

.slick-slide .w-box .text-panel .ss{

  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.slick-slide .w-box .text-panel .ss small{
 letter-spacing: 1px;
 font-size: 2.2vmax;
}
.slick-slide .w-box span{
  font-size: 2.8vmax;
  margin-top: 0.5vmax;
}

.slick-slide .w-box .text-panel .hh{
width: 100%;
  align-items: flex-start;
flex-direction: column;
}

.slick-slide .w-box span{
  font-size: 2.3vmax;
}
.slick-slide .w-box .text-panel  .get {
width: 100%;
margin-top: 2vmax;
background-color: #003f80; 
padding: 1.6vmax 1vmax;
font-size: 2vmax;
}

}

/* ----------------------------------- */
/* Target the close button in the popup */
.custom-popup .mapboxgl-popup-close-button {
  font-size: 32px;
  width: 32px; 
  height: 32px; 
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  border: none !important;
}

.salary-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90px;  */
  /* height: 30px;  */
  border-radius: 10px; 
  background-color: #fff; 
  color: #000; 
  font-size: 14px; 
  font-weight: bold; 
  text-align: center;
  line-height: 50px; 
  padding: 0px 10px;
  /* border: 2px solid #fff;  */
}

.salary-label {
  font-size: 14px; 
  font-weight: bold; 
  color: #000; 
}
.toggle-map-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #fff; 
  color: #000; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: fit-content;
  margin: 10px auto; 
  text-align: center; 
}

.toggle-map-icon:hover {
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.toggle-map-icon svg {
  margin-right: 8px; /* Space between the icon and text */
}

/* Target the close button in the popup */
/* .custom-popup .mapboxgl-popup-close-button {
  font-size: 32px;
  width: 32px; 
  height: 32px; 
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  border: none!important;
}

.salary-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px; 
  height: 30px; 
  border-radius: 20%; 
  background-color: #fff; 
  color: #000; 
  font-size: 14px; 
  font-weight: bold; 
  text-align: center;
  line-height: 50px; 
  border: 2px solid #fff; 
}

.salary-label {
  font-size: 14px; 
  font-weight: bold; 
  color: #000; 
} */

