.BlogDetail-main {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.BlogDetail-main .blog-detail {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 8vmax;
     margin-bottom: 3vmax;
     gap: 1vmax;
}

.BlogDetail-main .blog-detail h5 {
     font-weight: 600;
     font-size: 2vmax;
     color: #003f80;
     margin-bottom: 2vmax;
     font-family: Arial, Helvetica, sans-serif;
}
.BlogDetail-main .blog-detail h6 {
     margin-top: 2vmax;
     color: rgba(43, 43, 43, 0.97);
     letter-spacing: 0.5px;
     margin-bottom: 1vmax;
     font-size: 1.3vmax;
}
.BlogDetail-main .blog-detail .year-d {
     width: 100%;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 3vmax;
     /* margin-bottom: 1vmax; */
     margin-top: 1vmax;
}

.BlogDetail-main .blog-detail .year-d small {
     background-color: #003f80;
     border-radius: 50px;
     color: #fff;
     padding: 0.4vmax 1.5vmax;
}

.BlogDetail-main .blog-detail .year-d span {
     font-weight: 600;
     margin-top: 0.3vmax;
     color: rgb(60, 116, 118);
     letter-spacing: 0.2px;
}

.BlogDetail-main .blog-detail .img-d {
     width: 100%;
     height: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.BlogDetail-main .blog-detail .img-d img {
     width: 60%;
     height: 500px;
}
.description-text  {
    color: rgba(116, 128, 124, 0.97);
    letter-spacing: 0.5px;
}

.description-text img {
     width: 100%;
     height: 400px;
     object-fit: cover;
     display: block;
   }
   

@media (max-width:600px) {
     .BlogDetail-main {
          width: 100%;
     }

     .BlogDetail-main .blog-detail {
          width: 95%;
          margin-top: 18vmax;
          margin-bottom: 3vmax;
     }

     .BlogDetail-main .blog-detail h5 {
          font-size: 3vmax;
     }

     .BlogDetail-main .blog-detail .year-d {
          width: 100%;
          gap: 0vmax;
          flex-direction: column;
     }

     .BlogDetail-main .blog-detail .year-d small {
          padding: 1vmax 1.5vmax;
     }

     .BlogDetail-main .blog-detail .year-d span {
          margin-top: 2vmax;
     }

     .BlogDetail-main .blog-detail .img-d {
          width: 100%;
          height: auto;
     }

     .BlogDetail-main .blog-detail .img-d img {
          width: 100%;
          height: auto;
     }
   

}