.HomeBlog-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 3vmax;
          border-bottom: 1px solid #a2a2a2;
          padding-bottom: 1vmax;
}
.HomeBlog-main .blg-top{
          width: 90%;
        margin-top: 3vmax;
}
.HomeBlog-main .blg-top h4{
        font-weight: 600;
        font-size: 2vmax;
        color:#003f80;
}
.HomeBlog-main .home-blog{
          width: 90%;
          height:auto ;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
}
.HomeBlog-main .home-blog .home-blog-right{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 1vmax;

}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right{
          width: 24%;
          height: 400px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          box-shadow: 0px 1px 2px 1px #001a285c;
          border-radius: 5px;

}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right img{
          width: 100%;
          height: 200px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right h5{
          font-size: 1.3vmax;  
          margin-top: 0.5vmax; 
          color: #003f80;  
          padding-left: 0.5vmax;
 }
 .HomeBlog-main .home-blog .home-blog-right .h-blg-right h6{
        margin-left: 0.5vmax;
        background-color: #003f80;
        color: #fff; 
        padding: 0.3vmax 1vmax;
        border-radius: 50px;
}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right span{
         font-size: 0.9vmax;   
         font-family: Arial, Helvetica, sans-serif;
         color: rgb(96, 96, 96); 
         margin-bottom: 0.7vmax; 
         padding-left: 0.5vmax;
         display: -webkit-box;
         -webkit-line-clamp: 2; 
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: normal;

}
.view-blog-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.7vmax; 

}
.view-blog-btn button{
    width: 95%;
    padding: 0.5vmax 1vmax;
    border-radius: 5px;
    border: none;
    background-color: #003f80;
    color: #fff;
}

@media (max-width:600px) {
        .HomeBlog-main{
                width: 100%;
      }
      .HomeBlog-main .blg-top{
                width: 95%;
      }
      .HomeBlog-main .blg-top h4{
              font-size: 3vmax;
      }
      .HomeBlog-main .home-blog{
                width: 95%;
      }
      .HomeBlog-main .home-blog .home-blog-right{
                width: 100%;
      }
      .HomeBlog-main .home-blog .home-blog-right .h-blg-right{
                width: 100%;
          height: 450px;
      }

      .HomeBlog-main .home-blog .home-blog-right .h-blg-right h5{
                font-size: 3vmax;  
       }
       .HomeBlog-main .home-blog .home-blog-right .h-blg-right h6{
              padding: 1vmax 3vmax
      }
      .HomeBlog-main .home-blog .home-blog-right .h-blg-right span{
               font-size: 2vmax;   
      }
      .view-blog-btn{
        width: 100%;

}
.view-blog-btn button{
    width: 98%;
    padding: 2vmax 1vmax;
}
        
}
@media (min-width:600px) and (max-width:1050px) {
        .HomeBlog-main{
                width: 100%;
      }
      .HomeBlog-main .blg-top{
                width: 95%;
      }
      .HomeBlog-main .blg-top h4{
              font-size: 3vmax;
      }
      .HomeBlog-main .home-blog{
                width: 95%;
      }
      .HomeBlog-main .home-blog .home-blog-right{
                width: 100%;
      }
      .HomeBlog-main .home-blog .home-blog-right .h-blg-right{
                width: 100%;
      }

      .HomeBlog-main .home-blog .home-blog-right .h-blg-right h5{
                font-size: 3vmax;  
       }
       .HomeBlog-main .home-blog .home-blog-right .h-blg-right h6{
              padding: 1vmax 3vmax
      }
      .HomeBlog-main .home-blog .home-blog-right .h-blg-right span{
               font-size: 2vmax;   
      }
      .view-blog-btn{
        width: 100%;

}
.view-blog-btn button{
    width: 98%;
    padding: 2vmax 1vmax;
}
        
}
