.HomeBlog-main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3vmax;
        border-bottom: 1px solid #a2a2a2;
        padding-bottom: 1vmax;
}
.HomeBlog-main .blg-top {
        width: 85%;
        margin-top: 3vmax;
}
.HomeBlog-main .blg-top h4 {
        font-weight: 600;
        font-size: 2vmax;
        color: #003f80;
}
.HomeBlog-main .home-blog {
        width: 85%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
}
.HomeBlog-main .home-blog .home-blog-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1vmax;

}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right {
        width: 24%;
        height: 380px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 0px 1px 2px 1px #001a285c;
        border-radius: 5px;
        padding: 0.2vmax;
        position: relative;
}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
}

.HomeBlog-main .home-blog .home-blog-right .h-blg-right h5 {
        font-size: 1.1vmax;
        margin-top: 0.3vmax;
        padding-left: 0.5vmax;
}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right h6 {
        font-weight: 600;
        color: #003f80;
        text-transform: uppercase;
        border-radius: 50px;
        font-size: 0.8vmax;
        letter-spacing: 1px;
        padding-left: 0.5vmax;

}
.HomeBlog-main .home-blog .home-blog-right .h-blg-right span {
        font-size: 0.9vmax;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(59, 59, 59);
        margin-bottom: 0.6vmax;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        padding-left: 0.5vmax;
      }
      
.view-blog-btn {
        width: 45%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0.1vmax;
        padding-left: 0.5vmax;

}.view-blog-btn button {
        width: 100%;
        padding: 0.5vmax 0.7vmax;
        border-radius: 5px;
        border: none;
        font-weight: lighter;
        background-color: #003f80;
        color: #fff;
        font-size: 1vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2vmax;
        transition: all 0.3s ease; 
    }
    
    .view-blog-btn button:hover i {
        transform: translateX(3px); 
        transition: transform 0.3s ease; 
    }
    .view-blog-btn button:hover {
        background-color: #004080e0;
    }
    
@media (max-width:600px) {
        .HomeBlog-main {
                width: 100%;
        }
        .HomeBlog-main .blg-top {
                width: 95%;
        }
        .HomeBlog-main .blg-top h4 {
                font-size: 3vmax;
        }
        .HomeBlog-main .home-blog {
                width: 95%;
        }

        .HomeBlog-main .home-blog .home-blog-right {
                width: 100%;
                gap: 2vmax;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right {
                width: 100%;
                height: auto;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right h5 {
                font-size: 2.6vmax;
                margin-top: 0.7vmax;
                font-weight: 600;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right h6 {
                font-size: 1.8vmax;
                margin-top: 0.3vmax;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right span {
                font-size: 2vmax;
                -webkit-line-clamp: 4 !important; 
        }
        .view-blog-btn {
                width: 100%;

        }
        .view-blog-btn button {
                width: 98%;
                padding: 1.3vmax 1vmax;
                font-size: 2vmax;
                margin-top: 2vmax;
                margin-bottom: 1vmax;

        }

}

@media (min-width:600px) and (max-width:1150px) {
        .HomeBlog-main {
                width: 100%;
        }
        .HomeBlog-main .blg-top {
                width: 95%;
        }
        .HomeBlog-main .blg-top h4 {
                font-size: 3.5vmax;
        }
        .HomeBlog-main .home-blog {
                width: 95%;
        }
        .HomeBlog-main .home-blog .home-blog-right {
                width: 100%;
                gap: 3vmax;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right {
                width: 100%;
                padding-bottom: 1.5vmax;
                height: auto;
                box-shadow: 2px 2px 5px 2px gray;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right img {
                width: 100%;
                height: 500px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right h5 {
                font-size: 3.5vmax;
                padding-left: 1vmax;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right h6 {
                padding: 1vmax 3vmax;
                font-size: 2.5vmax;
                padding-left: 1vmax;
        }
        .HomeBlog-main .home-blog .home-blog-right .h-blg-right span {
                font-size: 2.5vmax;
                margin-bottom: 2vmax;
                padding-left: 1vmax;
        }
       .view-blog-btn {
                width: 100%;
        }
        .view-blog-btn button {
                width: 98%;
                padding: 2vmax 1vmax;
                font-size: 2.1vmax;
        }
}