.Navbar-main {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 11111;
    background: #fff;
    box-shadow: 0px 1px 2px 1px rgb(201, 201, 201);
    flex-direction: column;
    gap: 0.2vmax;
}
.Navbar-main .model-dropdown{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.2vmax;
  flex-direction: column;
  padding-left: 1.3vmax;
}
.Navbar-main .model-dropdown h6{
 cursor: pointer;
 font-size: 1vmax;
}
.Navbar-main .model-dropdown .model-text{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0.5vmax;
  border: 3px solid #00FF00;
  background: #fff;
  width: 15%;
}
.Navbar-main .model-dropdown .model-text img{
 width: 100%;
}
.Navbar-main .nav-highlight{
  width: 100%;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: red;
}

.Navbar-main .nav-highlight span{
font-size: 0.8vmax;
letter-spacing: 1px;
color: red;
font-weight: 600;
}
.Navbar-main .nav-highlight span a{
 text-decoration: none;
 color: red;
  }
  
.Navbar-main .navbar-page {
    width: 98%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 5vmax;
}

.Navbar-main .navbar-page .nav-left {
    width: 15%;
}

.Navbar-main .navbar-page .nav-left .logo img {
    width: 70%;
    height: auto;
}

.Navbar-main .navbar-page .nav-mid {
    width: 30%;
    border: 1px solid #b2b2b2;
    border-radius: 50px;
}

.Navbar-main .navbar-page .nav-mid .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 50px;
}

.Navbar-main .navbar-page .nav-mid .search-icon {
    font-size: 1.4rem;
    color: #808080;
    margin-right: 10px;
}

.Navbar-main .navbar-page .nav-mid .search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}
.search-icon-end {
  width: 20px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
  animation: rotateY 1.5s infinite linear; 
}

@keyframes rotateY {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(180deg);
  }
}

.Navbar-main .navbar-page .nav-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}


.Navbar-main .navbar-page .nav-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.Navbar-main .navbar-page .nav-right .menu-icon {
    display: none;
}

.Navbar-main .navbar-page .nav-right .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar-main .navbar-page .nav-right .links .link-item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Navbar-main .navbar-page .nav-right .links .close-icon {
    display: none;
}

.Navbar-main .navbar-page .nav-right a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.Navbar-main .navbar-page .nav-right a:hover {
    color: #a1a1a1;
}

.Navbar-main .navbar-page .nav-right .links .sign-in-btn {
    color: #fe0000;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #fe0000;
    box-shadow: 0 2px #fe0000;
    width: 20%;
    transition: background-color 0.3s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar-main .navbar-page .nav-right .links .sign-in-btn .profile-container {
  padding: 10px 20px;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
  background: none;
  font-weight: 600;
}
.Navbar-main .navbar-page .nav-right .links .sign-in-btn .profile-container i{
margin-left: 0.5vmax;
}
.Navbar-main .navbar-page .nav-right .links .sign-in-btn:hover {
    color: #00FF00;
    border: 2px solid #00FF00;
    box-shadow: 0 2px #00FF00;
}

.Navbar-main .navbar-page .nav-right .links .sign-in-btn button {
    padding: 10px 20px;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.9rem;
    background: none;
    font-weight: 600;
}



/* Dropdown styles for About and Join sections */
.about-dropdown, 
.join-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px;
    background-color: #FFFF00;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.about-dropdown a, 
.join-dropdown a {
    font-size: 14px !important;
    padding: 5px 10px;
    color: #6e6e6e;
    text-decoration: none;
    transition: background 0.3s ease;
}

.about-dropdown a:hover, 
.join-dropdown a:hover {
    background-color: #00FF00;
}

/* Container Styles for About Us and Join Us */
.about-us, .join-us {
    position: relative;
}

/* Responsive Dropdown for smaller screens */
.about-dropdown-responsive, .join-dropdown-responsive {
    display: none;
}


.language-selector {
  display: inline-flex;
  align-items: center;
  padding: 0.7vmax 0.3vmax;
  border: 1px solid #003266; /* Adjust color as needed */
  border-radius: 5px;
  background-color: #f9f9f9; /* Background color */
  color: #333; /* Text color */
  font-size: 1vmax;
  margin-left: 1vmax;
  gap: 0.1vmax;
  box-shadow: 0 2px #003266;

}

.globe-icon {
  font-size: 1.2vmax; /* Globe icon size */
  color: #003266; /* Adjust color as needed */
}

.language-selector select {
  border: none;
  background: transparent;
  font-size: 0.7vmax;
  color: #333;
  cursor: pointer;
  outline: none;
}



@media (max-width: 600px) {

  .about-dropdown-responsive,
  .join-dropdown-responsive {
    display: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2vmax;
  }
  .about-dropdown-responsive a,
  .join-dropdown-responsive a {
    font-size: 1rem ;
    padding:-3px 20px;
    color: #6e6e6e;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  #res-hide{
    display: initial;
  }


  .about-dropdown{
    display: none;
  }
  .join-dropdown{
    display: none;
  }
          .Navbar-main .navbar-page {
                   
                    gap: 4vmax;
          }
          .Navbar-main .navbar-page .nav-left {
                    width: 40%;
          }
          .Navbar-main .navbar-page .nav-left .logo img {
                    width: 90%;
                    height: auto;
          }
          .Navbar-main .navbar-page .nav-mid {
                    width: 45%;
                    /* border: none; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
          }
          .Navbar-main .navbar-page .nav-mid .search-input {
                    border: 1px solid #000;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-icon {
                    font-size: 1.5rem;
                    color: #333;
                    margin-right: 0px;
                    background-color: none;
                    border: none;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 1rem;
          }


          .Navbar-main .navbar-page .nav-right {
                    display: flex;
                    width: 10%;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
          }

          .Navbar-main .navbar-page .nav-right .menu-icon {
                    display: initial;
                    font-size: 4vmax;
          }


          .Navbar-main .navbar-page .nav-right .links {
                    display: none;
          }

          .Navbar-main .navbar-page .nav-right .links.active {
                    display: flex;
                    position: absolute;
                    top: -25px;
                    right: -9px;
                    background-color: #FFFF00;
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 130px;
                    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
                    z-index: 100;
          }

          .Navbar-main .navbar-page .nav-right a {
                    color: #000;
                    /* background: #000; */
                    padding-top: 1.2vmax;
                    text-decoration: none;
                    font-size: 1.3rem;
                    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
          }
          
          .Navbar-main .navbar-page .nav-right .links .link-item {
                    display: flex;
                     /* background: #c9c3c3; */
                    align-items: flex-start;
                    justify-content: space-evenly;
                    flex-direction: column;
                    position: absolute;
                    right: 0px;
                    width: 95%;
                    top: 40px;
          }
          
.Navbar-main .navbar-page .nav-right .links .sign-in-btn {
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: absolute;
                    right: 120px;
                    width: 50%;
                    top: 620px;
}

.Navbar-main .navbar-page .nav-right .links .sign-in-btn button {
          padding: 10px 20px;
          font-size: 1.2rem;
}
.Navbar-main .navbar-page .nav-right .links .close-icon {
                    display: initial;
                    font-size: 1.5rem;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    cursor: pointer;
          }
.language-selector {
  align-items: flex-start;
                    justify-content: flex-start;
                    position: absolute;
                    right: 120px;
                    width: 50%;
                    top: 680px;
}

.globe-icon {
  font-size: 3vmax; /* Globe icon size */
  color: #003266; /* Adjust color as needed */
}

.language-selector select {
  border: none;
  background: transparent;
  font-size: 2vmax;
  color: #333;
  cursor: pointer;
  outline: none;
}


}


@media (min-width: 600px) and (max-width:1150px) {

  .about-dropdown-responsive,
  .join-dropdown-responsive {
    display: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2vmax;
  }
  .about-dropdown-responsive a,
  .join-dropdown-responsive a {
    font-size: 1rem ;
    padding:-3px 20px;
    color: #6e6e6e;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  #res-hide{
    display: initial;
  }


  .about-dropdown{
    display: none;
  }
  .join-dropdown{
    display: none;
  }
          .Navbar-main .navbar-page {
                   
                    gap: 4vmax;
          }
          .Navbar-main .navbar-page .nav-left {
                    width: 40%;
          }
          .Navbar-main .navbar-page .nav-left .logo img {
                    width: 90%;
                    height: auto;
          }
          .Navbar-main .navbar-page .nav-mid {
                    width: 45%;
                    /* border: none; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
          }
          .Navbar-main .navbar-page .nav-mid .search-input {
                    border: 1px solid #000;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-icon {
                    font-size: 1.5rem;
                    color: #333;
                    margin-right: 0px;
                    background-color: none;
                    border: none;
          }
          
          .Navbar-main .navbar-page .nav-mid .search-input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 1rem;
          }


          .Navbar-main .navbar-page .nav-right {
                    display: flex;
                    width: 10%;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
          }

          .Navbar-main .navbar-page .nav-right .menu-icon {
                    display: initial;
                    font-size: 4vmax;
          }


          .Navbar-main .navbar-page .nav-right .links {
                    display: none;
          }

          .Navbar-main .navbar-page .nav-right .links.active {
                    display: flex;
                    position: absolute;
                    top: -20px;
                    right: -15px;
                    background-color: #FFFF00;
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 300px;
                    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
                    z-index: 100;
          }

          .Navbar-main .navbar-page .nav-right a {
                    color: #000;
                    /* background: #000; */
                    padding-top: 1.2vmax;
                    text-decoration: none;
                    font-size: 1.3rem;
                    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
          }
          
          .Navbar-main .navbar-page .nav-right .links .link-item {
                    display: flex;
                     /* background: #c9c3c3; */
                    align-items: flex-start;
                    justify-content: space-evenly;
                    flex-direction: column;
                    position: absolute;
                    right: 0px;
                    width: 95%;
                    top: 40px;
          }
          
.Navbar-main .navbar-page .nav-right .links .sign-in-btn {
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: absolute;
                    right: 120px;
                    width: 50%;
                    top: 620px;
}

.Navbar-main .navbar-page .nav-right .links .sign-in-btn button {
          padding: 10px 20px;
          font-size: 1.2rem;
}
.Navbar-main .navbar-page .nav-right .links .close-icon {
                    display: initial;
                    font-size: 1.5rem;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    cursor: pointer;
          }
.language-selector {
  align-items: flex-start;
                    justify-content: flex-start;
                    position: absolute;
                    right: 120px;
                    width: 50%;
                    top: 680px;
}

.globe-icon {
  font-size: 3vmax; /* Globe icon size */
  color: #003266; /* Adjust color as needed */
}

.language-selector select {
  border: none;
  background: transparent;
  font-size: 2vmax;
  color: #333;
  cursor: pointer;
  outline: none;
}


}