.JoinTeam-main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
}

.JoinTeam-main .join1 {
        width: 80%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 1vmax;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-image: url(../../assets/images/join1New.jpg);
}

.JoinTeam-main .join1 .join1-left {
        width: 50%;
        display: flex;
        margin-left: 2vmax;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
}

.JoinTeam-main .join1 .join1-left h5 {
        font-size: 2.7vmax;
        font-weight: 700;
        margin-bottom: 2vmax;
}

.JoinTeam-main .join1 .join1-left span {
        font-size: 1.5vmax;
}


.JoinTeam-main .join2 {
        width: 80%;
        height: 400px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        margin-top: 5vmax;
        background-repeat: no-repeat;

        background-size: 50% 100%;
        /* Cover the full width */
        background-position: left;
        background-origin: content-box;
        background-image: url(https://www.objectgears.eu/content20/img/cloud.svg);
}


.JoinTeam-main .join2 .join2-text {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
}

.JoinTeam-main .join2 .join2-text h5 {
        font-size: 2vmax;
        font-weight: 700;
        margin-bottom: 1vmax;
        font-family: Arial, Helvetica, sans-serif;
}

.JoinTeam-main .join2 .join2-text p {
        font-size: 1.1vmax;
        letter-spacing: 0.3px;
        font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------- */

.JoinTeam-main .join3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 4vmax;
    }
    
    .JoinTeam-main .join3 h5 {
        font-size: 2vmax;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .JoinTeam-main .join3 .join3-slider {
        width: 80%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vmax;
        margin-bottom: 2vmax;
        position: relative;
    }
    
    .JoinTeam-main .join3 .join3-slider .swiper-button-next {
        color: #000;
        font-size: 18px;
    }
    
    .JoinTeam-main .join3 .join3-slider .swiper-button-prev {
        color: #000;
        font-size: 18px;
    }
    
    .JoinTeam-main .join3 .mySwiper {
        width: 85%; 
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .JoinTeam-main .join3 .swiper-slide {
        height: 350px;
        text-align: center;
        font-size: 15px;
        background: #fff;
        display: flex;
        border: 3px solid #e1e1e1;
        justify-content: center;
        align-items: center;
    }
    
    .JoinTeam-main .join3 .join3-box {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 1.2vmax;
    }
    
    .JoinTeam-main .join3 .join3-box img {
        width: 20%;
    }
    
    .JoinTeam-main .join3 .join3-box p {
        font-size: 1.2vmax;
        text-align: start;
        width: 100%;
        padding-left: 1vmax;
        padding-right: 0.7vmax;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text {
        width: 100%;
        display: flex;
        border-top: 3px solid #e1e1e1;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0.5vmax;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text .circle {
        width: 22%;
        height: 70px;
        border-radius: 50px;
        object-fit: cover;
        border: 3px solid #e1e1e1;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text .circle img {
        width: 100%;
        height: 70px;
        object-fit: cover;
        border-radius: 50px;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text .text-name {
        width: 70%;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text .text-name span {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .JoinTeam-main .join3 .join3-box .box-text .text-name h6 {
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    
/* ----------------------------------------------- */
.JoinTeam-main .join4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3vmax;
}

.JoinTeam-main .join4 small {
        font-size: 1.1vmax;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
}

.JoinTeam-main .join4 p {
        font-size: 1.1vmax;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2vmax;
}

.JoinTeam-main .join4 .join4-bx {
        width: 70%;
        box-shadow: 0px 1px 2px 1px #001a285c;
        border-radius: 10px;
        padding: 2vmax;
        margin-top: 1vmax;
        margin-bottom: 2vmax;
}

.JoinTeam-main .join4 .join4-bx h5 {
        font-size: 2vmax;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.5px;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 1vmax;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest .int-img {
        width: 35%;
        height: 100px;
        display: flex;
        background: #dadada;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 50px;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest .int-img2 {
        width: 35%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 50px;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest .int-img2 img {
        width: 100%;
        height: 100px;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest .int-img img {
        width: 90%;
        height: 90px;
}

.JoinTeam-main .join4 .join4-bx .join4-Btm .interest a {
        margin-top: 1vmax;
        text-decoration: none;
        font-size: 1.2vmax;
}


@media (max-width:600px) {
        .JoinTeam-main .join1 {
                width: 95%;
                height: 250px;
                margin-top: 5vmax;
                background-position: left;
                background-size: contain;
                background-image: url(../../assets/images/join1New.jpg);
        }

        .JoinTeam-main .join1 .join1-left {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0vmax;
                padding-bottom: 25vmax;
        }

        .JoinTeam-main .join1 .join1-left h5 {
                font-size: 3.2vmax;
                font-weight: 700;
                margin-bottom: 1vmax;
        }

        .JoinTeam-main .join1 .join1-left span {
                font-size: 2.2vmax;
        }


        .JoinTeam-main .join2 {
                width: 95%;
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0vmax;
                background-repeat: no-repeat;
                background-size: 90% 100%;
                /* Cover the full width */
                background-position: center;
                background-origin: content-box;
                background-image: url(https://www.objectgears.eu/content20/img/cloud.svg);
        }


        .JoinTeam-main .join2 .join2-text {
                width: 100%;
                text-align: center;
                margin-bottom: 1vmax;
        }

        .JoinTeam-main .join2 .join2-text h5 {
                font-size: 3vmax;
                margin-bottom: 2vmax;
        }

        .JoinTeam-main .join2 .join2-text p {
                font-size: 2vmax;
                letter-spacing: 0.4px;
        }
        /* ----------------------------------------------- */
       .JoinTeam-main .join3 {
                width: 100%;
        }
        .JoinTeam-main .join3 h5 {
                font-size: 3.5vmax;
        }
        .JoinTeam-main .join3 .join3-slider {
                width: 95%;
                height: 350px;
        }
        .JoinTeam-main .join3 .join3-slider     .mySwiper {
                width: 85%;
                height: auto;
        }

        .JoinTeam-main .join3 .join3-slider      .swiper-slide {
                width: 100% !important;
        }

        .JoinTeam-main .join3 .join3-slider    .join3-box img {
                width: 20%;
        }
        .JoinTeam-main .join3 .join3-slider   .join3-box p {
                font-size: 2.3vmax;
        }
        .JoinTeam-main .join3 .join3-slider .join3-box .box-text .circle {
                width: 40%;
                height: 100px;
        }
        .JoinTeam-main .join3 .join3-slider  .join3-box .box-text .circle img {
                width: 100%;
                height: 100px;
        }
        /* ----------------------------------------------- */
        .JoinTeam-main .join4 small {
                font-size: 1.8vmax;
                width: 95%;
                text-align: center;
        }
        .JoinTeam-main .join4 p {
                font-size: 2.1vmax;
                width: 95%;
                text-align: center;
        }
        .JoinTeam-main .join4 .join4-bx {
                width: 95%;
        }
        .JoinTeam-main .join4 .join4-bx h5 {
                font-size: 3vmax;
        }
        .JoinTeam-main .join4 .join4-bx .join4-Btm {
                width: 100%;
                flex-direction: column;
                gap: 3vmax;
        }
        .JoinTeam-main .join4 .join4-bx .join4-Btm .interest {
                width: 100%;
        }

        .JoinTeam-main .join4 .join4-bx .join4-Btm .interest a {
                font-size: 2vmax;
        }
}