*{
          font-family:  Helvetica;
          margin: 0;
          padding: 0;
}
body .captcha .rc-anchor-logo-portrait {
          margin: 0px !important;
          width: 58px !important;
          margin-top: 10px !important;
          margin-left: 26px !important;
      }
      